<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family: fantasy">
      Post new message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>


      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input type="text" [(ngModel)]= "model.text" name="message">Your message :   </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Image URL:</ion-label>
        <ion-input   [(ngModel)]= "model.imageUrl" name="image">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">To:</ion-label>
        <ion-select interface="alert" [(ngModel)]="model.to" name="to">
        <ion-select-option value="Everyone">General</ion-select-option>
        <ion-select-option *ngFor="let friend of myFriends" [value]="friend.name">{{ friend.name }}</ion-select-option>

        </ion-select>
      </ion-item>
      
        <ion-button name="navigate-sharp" style="color: rgb(237, 248, 81)" (click)="post()">Post
          <ion-icon name="paper-plane-outline" style="color:rgb(248, 246, 112)"></ion-icon>
        </ion-button>
    

    </ion-card-content>

  </ion-card>


</ion-content>
