<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="font-family: fantasy">
      Manage friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!--Register friend -->
    <ion-card-content>
      <h2>Register new friend</h2>

      <ion-item>
        <ion-label position="stacked">Friend name:</ion-label>
        <ion-input [(ngModel)]= "model.name" name="name" ></ion-input>
      </ion-item>

    
      <ion-button color="primary" (click)="saveFriend()">
        Save friend
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    

    </ion-card-content>

  </ion-card>

  <!-- List my friends -->
  <ion-list>
    <ion-item *ngFor= "let friend of friendsToDisplay">
      <ion-icon name="people-circle-outline" style="color: rgb(122, 236, 77)"></ion-icon>
        <ion-label>{{friend.name}}</ion-label>

    </ion-item>
  </ion-list>


</ion-content>


